@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&family=Pacifico&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* CSS Variables */

:root {
  --example: red;
  --bs-orange: #fd9d3e;
  --bs-greenyellow: #91b842;
  --narrow-font-family: 'PT Sans Narrow', sans-serif;
  --pacifico-font-family: 'Pacifico', "cursive";
  --max-width: 1200px;
}
