.BestChefSlider {
    display: flex;
    background-color: black;
    justify-content: center;
    text-align: center;
    border: solid;
    position: relative;
    background-image: url(../../../images/sliderBackgroundImage.png);
  &-textOne {
    font-size: 25px;
    color: #fd9d3e;
    font-family: 'Pacifico', cursive;
    padding-bottom: 10px;
  
}
&-textTwo{
    font-size: 50px;
    line-height: 45px;
    color: rgb(255, 255, 255);
    letter-spacing: 2px;
    text-transform: uppercase!important;
}
  &-Section {
    >div{
        display: flex;
        max-width: 1400px;
        padding: 5px;
        >img{
            padding: 15px;
        }
    }
  }
}
.BestChefSlider-Section-Chefs{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 22px;
  &-Name{
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  &-Chef{
    font-size: 12px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  text-align: center;
  justify-content: center;
  padding: 15px;
  img {
    width: 90%;
  }
  >div{
  >nav{
    width: 90%;
    height: 80px;
    border: solid rgb(255, 255, 255);
    background-color: white;
  }
}
}

.swiper-button-prev,.swiper-button-next {
    color: rgba(253, 157, 62, 0.5) !important;
    width: 70px;
    font-weight: 1000 !important;  
}

.swiper-button-prev {
  // position: absolute;
  // left: -20px !important;
  // float: left;
}

  .swiper-button-prev:hover,.swiper-button-next:hover {
    color: var(--bs-orange) !important;
}
